gunicorn==20.1.0
cual-id @ https://github.com/johnchase/cual-id/archive/master.zip
django==3.1.2
click==8.0.3
django-crispy-forms==1.13.0
django-floppyforms==1.9.0
django-phone-field==1.8.1
django-table-select-widget==1.1.0
Pillow==8.3.2
psycopg2==2.9.1
reportlab==3.6.1
reportlab-qrcode==0.1.4
