asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==2.0.9
click==8.0.3
cual-id @ https://github.com/johnchase/cual-id/archive/master.zip
dj-database-url==2.1.0
Django==3.2.23
django-ajax-datatable==4.4.4
django-crispy-forms==1.13.0
django-ebhealthcheck==2.0.1
django-floppyforms==1.9.0
django-phone-field==1.8.1
djangorestframework==3.14.0
django-static-jquery3==5.1.0
django-table-select-widget==1.1.0
django-yearmonth-widget==0.2.1
gunicorn==20.1.0
pandas==2.1.4
pillow==10.2.0
psycopg2-binary==2.9.9
pylabels==1.2.1
pytz==2020.1
PyYAML==6.0
qrcode==7.4.2
reportlab==4.0.8
reportlab-qrcode==0.1.4
requests==2.26.0
six==1.15.0
urllib3==1.26.7
xlrd==1.2.0
zipp==3.6.0
