{% extends "lims/base.html" %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"/>
{% endblock head %}

{% block content %}
<div class='content-section'>
    <form id="sample-form" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-6">Add Samples to Pool</legend>
            <table id="samples" class="display table table-hover"> 
                <thead>
                    <tr>
                        <th>Sample</th>
                        <th>Event</th>
                        <th>Location</th>
                        <th>Collection Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sample in sample_list %}
                        <tr id="{{ sample.id }}">
                            <td>{{ sample.name }}</td>
                            <td>{{ sample.collection_event.name }}</td>
                            <td>{{ sample.location.name }}</td>
                            <td>{{ sample.collection_status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </fieldset>
       <div class="form-group pt-3">
           <a class="btn btn-outline-danger mr-5" href="{% url 'lims:pool_list' %}" role="button">Cancel</a>
           <button class="btn btn-success" type="submit">Add</button>
       </div>
    </form>
</div>
{% endblock content %}

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.3/js/dataTables.rowGroup.min.js"></script>
<script>
    $(document).ready( function () {
    let table = $('#samples').DataTable({
        rowReorder: false,
        fixedHeader: true,
        dom: 'B<"clear">lfrtip',
        buttons: {
            name: 'primary',
            buttons: [ 'copy', 'csv', 'excel', 'pdf' ],
        },
            select: {
                style: 'multi'
            },
        'fnCreatedRow': function(nRow, aData, iDataIndex) {
            $(nRow).attr('data-id', aData.DT_RowId); // or whatever you choose to set as the id
            $(nRow).attr('id', 'id_' + aData.DT_RowId); // or whatever you choose to set as the id
        },
        })
    // Handle form submission event
   $('#sample-form').on('submit', function(e){
      let form = this;

      let rows = table.rows( {selected: true} ).ids().toArray();
      console.log(rows)
        // Iterate over all selected rows
      $.each(rows, function(idx, val){
         // Create a hidden element
         $(form).append(
             $('<input>')
                .attr('type', 'hidden')
                .attr('name', 'ids')
                .val(rows[idx])
         );

        });
    });
    })
</script>
{% endblock js %}

