{% extends "lims/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" source="{% static 'lims/data-tables/css/editor.dataTables.min.css' %}"/>
<link rel="stylesheet" type="text/css" source="{% static 'lims/data-tables/css/editor.bootstrap5.min.css' %}"/>

{% endblock head %}

{% block content %}

<div class='content-section'>
    <form id="sample-form" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-6">Results for </legend>
            <p class="text-muted">Select samples to print storage labels.</p>
            <table id="sample-table" class="display table table-hover">
                <thead>
                    <tr>
                        <!-- <th>Subject ID</th>
                        <th>Project</th>
                        <th>Location</th>
                        <th>Age</th>
                        <th>Sex</th>
                        <th>Race</th>
                        <th>Ethnicity</th>
                        <th>Grade</th>
                        <th>SARS-CoV-2 Vaccine Dose 1</th>
                        <th>SARS-CoV-2 Vaccine Dose 1 Month</th>
                        <th>SARS-CoV-2 Vaccine Dose 1 Year</th>
                        <th>SARS-CoV-2 Vaccine Dose 2</th>
                        <th>SARS-CoV-2 Vaccine Dose 2 Month</th>
                        <th>SARS-CoV-2 Vaccine Dose 2 Year</th>
                        <th>SARS-CoV-2 Vaccine Booster</th>
                        <th>SARS-CoV-2 Vaccine Booster Month</th>
                        <th>SARS-CoV-2 Vaccine Booster Year</th>
                        <th>COVID-19 1st Case Month</th>
                        <th>COVID-19 1st Case Year</th>
                        <th>COVID-19 2nd Case Month</th>
                        <th>COVID-19 2nd Case Year</th>
                        <th>COVID-19 3rd Case Month</th>
                        <th>COVID-19 3rd Case Year</th>
                        <th>COVID-19 4th Case Month</th>
                        <th>COVID-19 4th Case Year</th>
                        <th>COVID-19 5th Case Month</th>
                        <th>COVID-19 5th Case Year</th>
                        <th>Pneumococcal Vaccine</th>
                        <th>Pneumococcal Vaccine Year</th>
                        <th>Consent Status</th>
                        <th>Created On</th>
                        <th>Test</th> -->

                    </tr>
                </thead>

                </table>
            <hr>
            <legend class="border-bottom mb-6">Select Print Options</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="d-grid gap-2 d-md-block mt-2">
            <button class="btn btn-success" type="submit">Print <span data-feather="printer"></span></button>
            <a class="btn btn-outline-danger btn" href="{% url 'lims:sample_list' %}" role="button">Cancel</a>
            <a class="btn btn-outline-primary btn" href="{% url 'lims:index' %}" role="button">Home <span data-feather="home"></span></a>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.3/js/dataTables.rowGroup.min.js"></script>
<script type="text/javascript" src="{% static 'lims/data-tables/js/dataTables.editor.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lims/data-tables/js/editor.bootstrap5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lims/data-tables/js/editor.dataTables.min.js' %}"></script>

<script>
    $(document).ready( function () {
    let data = {{ data | safe }}
    let headers = {{ headers | safe }}
    let table = $('#sample-table').DataTable({
        rowReorder: false,
        fixedHeader: true,
        dom: 'B<"clear">lfrtip',
        order: [],
        rowId: function(a) {
            return a.id;
        },
        data: data,
        aLengthMenu: [
            [10, 25, 50, 100, 200, -1],
            [10, 25, 50, 100, 200, "All"]
            ],
        iDisplayLength: 10,
        columns: headers,
        buttons: {
            name: 'primary',
            buttons: [ 'copy', 'csv', 'excel', 'pdf' ],
        },
            select: {
                style: 'multi+shift'
        },
        })

    })
</script>
{% endblock js %}

