{% extends "lims/base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"/>
{% endblock head %}
{% block content %}

<div class="card">
    <h1 class="card-header">Pool: {{ pool.name }}</h1>
    <div class="card-body">
      <p>
      <strong>Status: </strong>
      {% if pool.status == "Pending" %}
            <span class="badge bg-secondary">Pending</span>
      {% elif pool.status == "Negative" %}
          <span class="badge bg-success">{{ pool.status }}</span>
      {% else %}
          <span class="badge bg-danger">{{ pool.status }}</span>
      {% endif %}
      </p>
      <p>
      <strong>Notification Status: </strong>
      {% if pool.notification_status == "Pending" %}
            <span class="badge bg-warning">{{ pool.notification_status }}</span>
      {% elif pool.notification_status == "Not Notified" %}
          <span class="badge bg-secondary">{{ pool.notification_status }}</span>
      {% else %}
          <span class="badge bg-success">{{ pool.notification_status }}</span>
      {% endif %}
      </p>
      
      {% if pool.box %}
      <p><strong>Pool Box: </strong><a href="{% url 'lims:pool_box_detail' pool.box.id %}">{{ pool.box.box_name }}</a></p>
      {% else %}
      <p><strong>Pool Box: </strong>None</p>
      {% endif %}
      {% if pool.box %}
      <p><strong>Box Position: </strong><a href="{% url 'lims:pool_box_position_detail' pool.box.id pool.box_position.id%}">{{ pool.box_position.position }}</a></p>
      {% else %}
      <p><strong>Box Position: </strong>None</p>
      {% endif %}
      <p class="card-text"><strong>Notes:</strong> {{ pool.notes }}</p>
      <p class="card-text"><strong>Created:</strong> {{ pool.created_on }}</p>

    </div>
    <h3 class="card-header">Locations</h3>
    <ul class="list-group list-group-flush">
      {% for location in pool.get_all_locations %}
      <li class="list-group-item"><a href="{% url 'lims:location_detail' location.id %}">{{ location.name }}</a></li>
      {% endfor %}
    </ul>
</div>


{% if pool.samples.all %}
<h3 class="border-bottom mt-2">Samples in Pool</h3>

<table id="sample_table" class="display table table-hover"> 
  <thead>
      <tr>
          <th>Pool Name</th>
          <th>Sample ID</th>
          <th>Storage Box</th>
          <th>Box Position</th>
          <th>Box Storage Location</th>
          <th>Box Storage Shelf</th>
      </tr>
  </thead>
  <tbody>
      {% for sample in pool.samples.all %}
          <tr>
              <td>{{ pool.name }}</td>
              <td><a class="table-link" href="{% url 'lims:sample_detail' sample.id %}">
                  {{ sample.name }}
              </a></td>
              {% if sample.box %}
              <td><a class="table-link" href="{% url 'lims:sample_box_detail' sample.box.id %}">
                {{ sample.box.box_name }}
              </a></td>
              <td><a class="table-link" href="{% url 'lims:sample_box_position_detail' sample.box.id sample.box_position.id %}">
                {{ sample.box_position.position }}
              </a></td>
              <td>{{ sample.box.storage_location }}</td>
              <td>{{ sample.box.storage_shelf }}</td>
              {% else %}
              <td>None</td>
              <td>None</td>
              <td>None</td>
              <td>None</td>
              {% endif %}
              
              
          </tr>
      {% endfor %}
  </tbody>
</table>

{% endif %}
{% if pool.pools.all %}
<h3 class="border-bottom mt-2">Pools in Pool</h3>
<table id="pool_table" class="display table table-hover"> 
  <thead>
      <tr>
          <th>Pool Name</th>
          <th>Pools to Add</th>
          <th>Storage Box</th>
          <th>Box Position</th>
          <th>Box Storage Location</th>
          <th>Box Storage Shelf</th>
      </tr>
  </thead>
  <tbody>
      {% for p in pool.pools.all %}
          <tr>
              <td>{{ pool.name }}</td>
              <td><a class="table-link" href="{% url 'lims:pool_detail' p.id %}">
                  {{ p.name }}
              </a></td>
              {% if p.box %}
              <td><a class="table-link" href="{% url 'lims:sample_box_detail' p.box.id %}">
                {{ p.box.name }}
              </a></td>
              {% else %}
              <td>None</td>
              {% endif %}
              <td>{{ p.box_position }}</td>
              <td>{{ p.box.storage_location }}</td>
              <td>{{ p.box.storage_shelf }}</td>
              
          </tr>
      {% endfor %}
  </tbody>
</table>

{% endif %}

<div class="d-grid gap-0 d-md-block mt-2">
  <a class="btn btn-primary btn mb-2" href="{% url 'lims:edit_pool' pool.id %}" role="button">Edit <span data-feather="edit"></span></a>
  <a class="btn btn-primary btn mb-2" href="{% url 'lims:pool_report' pool.id %}" role="button">Print Report <span data-feather="printer"></span></a>
  <a class="btn btn-outline-primary btn mb-2" href="{% url 'lims:new_pool' %}" role="button">Add New Pool <span data-feather="plus"></span></a>
  <a class="btn btn-outline-primary btn mb-2" href="{% url 'lims:add_pool_samples' pool.id %}" role="button">Add Samples to Pool <span data-feather="plus"></span></a>
  <a class="btn btn-outline-primary btn mb-2" href="{% url 'lims:add_pool_pools' pool.id %}" role="button">Add Pools to Pool <span data-feather="plus"></span></a>
  <a class="btn btn-outline-primary btn mb-2" href="{% url 'lims:pool_list' %}" role="button">Pools <span data-feather="corner-up-left"></span></a>
  <a class="btn btn-outline-primary btn mb-2" href="{% url 'lims:index' %}" role="button">Home <span data-feather="corner-up-left"></span></a>
  <a class="btn btn-outline-danger btn mb-2" href="{% url 'lims:delete_pool' pool.id %}" role="button">Delete <span data-feather="trash"></span></a>
</div>
{% endblock content %}


{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.3/js/dataTables.rowGroup.min.js"></script>
<script>
    $(document).ready( function () {
    $('#sample_table').DataTable({
    rowReorder: true,
    fixedHeader: true,
    dom: 'B<"clear">lfrtip',
    buttons: {
        name: 'primary',
        buttons: [ 
        {
          extend: 'copy',
          title: 'Samples for Pool'
        },
        {
          extend: 'pdf',
          title: 'Samples for Pool'
        },
        {
          extend: 'csv',
          title: 'Samples for Pool'
        },
        {
          extend: 'excel',
          title: 'Samples for Pool'
        }]
        }}
      );
    } );
    $(document).ready( function () {
    $('#pool_table').DataTable({
    rowReorder: true,
    fixedHeader: true,
    dom: 'B<"clear">lfrtip',
    buttons: {
        name: 'primary',
        buttons: [ 
        {
          extend: 'copy',
          title: 'Pools for Pool'
        },
        {
          extend: 'pdf',
          title: 'Pools for Pool'
        },
        {
          extend: 'csv',
          title: 'Pools for Pool'
        },
        {
          extend: 'excel',
          title: 'Pools for Pool'
        }]


        }}
      );
    } );
</script>
{% endblock js %}
