{% extends "lims/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<legend class="border-bottom mb-6">Update Pool Box: <strong>{{ poolbox.box_name }}</strong> <br> Position: <strong>{{ poolboxposition.position }}</strong></legend>

<form method="post">{% csrf_token %}
    {{ form | crispy }}
    <div class="d-grid gap-2 d-md-block mt-2">
        {% if poolbox.remaining > 1 %}
        <button class="btn btn-success" type="submit">Update and Continue <span data-feather="arrow-right"></span></button>
        {% else %}
        <button class="btn btn-success" type="submit" name="newbox">Update and Create New Box <span data-feather="plus"></span></button>
        <button class="btn btn-success" type="submit">Update <span data-feather="corner-up-left"></span></button>
        {% endif %}
        <a class="btn btn-outline-danger mr-5" href="{% url 'lims:pool_box_detail' poolbox.id %}" role="button">Cancel</a>
    </div>
</form>

{% endblock content %}

