{% extends "lims/base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"/>
{% endblock head %}

{% block content %}
<h1 class="border-bottom">Pools</h1>
    <div class="mt-3 mb-3">
        <a class="btn btn-primary btn" href="{% url 'lims:new_pool' %}" role="button">Add Pools <span data-feather="plus"></span></a>
    </div>
    <table id="sample_table" class="display table table-hover"> 
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Storage Box</th>
                <th>Storage Location</th>
                <th>Box Position</th>
            </tr>
        </thead>
        <tbody>
            {% for pool in pool_list %}
                <tr>
                    <td><a class="table-link" href="{% url 'lims:pool_detail' pool.id%}">
                        {{ pool.name }}</a></td>
                    
                {% if pool.status == "Pending" %}
                    <td><span class="badge bg-secondary">Pending</span></td>
                {% elif pool.status == "Negative" %}
                    <td><span class="badge bg-success">Negative</span></td>
                {% else %}
                    <td><span class="badge bg-danger">Positive</span></td>
                {% endif %}

                {% if pool.box %}
                    <td><a class="table-link" href="{% url 'lims:box_detail' pool.box.id %}">{{ pool.box.box_name }}</a></td>
                    <td>{{ pool.box.storage_location }}</td>
                {% else %}
                    <td>None</td>
                    <td>None</td>
                {% endif %}
                <td>{{ pool.box_position }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.3/js/dataTables.rowGroup.min.js"></script>
<script>
    $(document).ready( function () {
    $('#sample_table').DataTable({
    rowReorder: true,
    fixedHeader: true,
    dom: 'B<"clear">lfrtip',
    buttons: {
        name: 'primary',
        title: 'Pools',
        buttons: [ 'copy', 'csv', 'excel', 'pdf' ]

        }}
    );
} );
</script>
{% endblock js %}
