{% extends "lims/base.html" %}


{% block content %}
<div class="card">
    <h1 class="card-header">Sample: {{ sample.name }}</h1>
    <div class="card-header">
        <strong>Collection Status: </strong>
        {% if sample.collection_status == "Pending" %}
            <span class="badge bg-secondary">{{ sample.collection_status }}</span>
        {% elif sample.collection_status == "Collected" %}
            <span class="badge bg-success">{{ sample.collection_status }}</span>
        {% else %}
            <span class="badge bg-danger">{{ sample.collection_status }}</span>
        {% endif %}
    </div>
    <div class="card-header">
        <strong>Subject: </strong><a href="{% url 'lims:subject_detail' sample.subject.id %}">{{ sample.subject.subject_ui }}</a>
    </div>
    <div class="card-header">
        <strong>Sample Type: </strong>{{ sample.sample_type }}
    </div>
    <div class="card-header">
        <strong>Collection Event: </strong><a href="{% url 'lims:event_detail' sample.collection_event.id %}">{{ sample.collection_event.name }}</a>
    </div>
    <div class="card-body">
        <p class="card-text">Location: <a href="{% url 'lims:location_detail' sample.location %}">{{ sample.location.name }}</a></p>
        <p class="card-text">Event Date: {{ sample.collection_event.date }}</p>
        <p class="card-text">Researcher: <a href="{% url 'lims:researcher_detail' sample.collection_event.researcher %}">{{ sample.collection_event.researcher.name }}</a></p>
        <p class="card-text">Created: {{ sample.created_on }}</p> 
    </div>
    <div class="card-header">
        {% if sample.box.id %}
            <strong>Sample Box: </strong><a href="{% url 'lims:box_detail' sample.box.id %}">{{ sample.box.box_name }}</a>
            <div class="card-body">
                <p class="card-text">Box Position: {{ sample.box_postion }}</p>
                <p class="card-text">Box Location: {{ sample.box.storage_location }}</p>
                <p class="card-text">Box Shelf: {{ sample.box.storage_shelf }}</p>
            </div>
        {% else %}
            <strong>Sample Box: </strong> None
        {% endif %}
    </div>
    <div class="card-header"><strong>Notes:</strong></div>
    <div class="card-body">
        <p class="card-text">{{ sample.notes }}</p>

    </div>
    {{ sample.results.all }}
    {% for result in results %}
    <div class="card-header"><strong>Result: </strong><a href="#">{{ result.name }}</a> </div>
    <div class="card-body">
        <p class="card-text"><strong>Test: </strong><a href="{% url 'lims:test_detail' result.test.id %}">{{ result.test.name }}</a></p>
        <p class="card-text"><strong>Detects: </strong>{{ result.test.detects }}</p>
        <p class="card-text"><strong>Status: </strong>{{ result.result }}</p>
        <p class="card-text"><strong>Value: </strong>{{ result.value }}</p>
    </div>
    {% endfor %}

</div>
    <div class="d-grid gap-0 d-md-block mt-2">
        <a class="btn btn-primary btn mb-2" href="{% url 'lims:edit_sample' sample.id %}" role="button">Edit <span data-feather="edit"></span></a>
        <a class="btn btn-primary btn mb-2" href="{% url 'lims:new_result_sample' sample.id %}" role="button">Add Result <span data-feather="edit"></span></a>
        <a class="btn btn-outline-primary btn mb-2" href="{% url 'lims:sample_list' %}" role="button">Samples <span data-feather="corner-up-left"></span></a>
        <a class="btn btn-outline-primary btn mb-2" href="{% url 'lims:index' %}" role="button">Home <span data-feather="corner-up-left"></span></a>
    </div>

{% endblock content %}

