{% extends "lims/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<h2 class="border-bottom">Samples for Event: {{ event.name }}</h1>


<table class="table">
    <thead>
        <tr>
        <th scope="col">Sample ID</th>
        <th scope="col">Subject ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        </tr>
    </thead>
    <tbody>
        {% for sample in samples %} 
        <tr>
        <td><a href="{% url 'lims:sample_detail' sample.id %}">{{ sample.name }}</a></td>
        <td><a href="{% url 'lims:subject_detail' sample.subject.id %}">{{ sample.subject.subject_ui }}</a></td>
        <td>{{ sample.subject.first_name }}</td>
        <td>{{ sample.subject.last_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

<div class="d-grid gap-2 d-md-block mt-2">
    <a class="btn btn-primary btn" href="{% url 'lims:sample_labels_options' event.id %}" role="button">Print Labels <span data-feather="printer"></span></a>
    <a class="btn btn-outline-primary btn" href="{% url 'lims:sample_list' %}" role="button">Samples <span data-feather="corner-up-left"></span></a>
    <a class="btn btn-outline-primary btn" href="{% url 'lims:index' %}" role="button">Home <span data-feather="corner-up-left"></span></a>
</div>
{% endblock %}