{% extends "lims/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class='content-section'>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-6">Select Print Options</legend>
            {{ form|crispy }}
        </fieldset>
       <div class="form-group pt-3">
           <a class="btn btn-outline-success mr-5" href="{% url 'lims:new_label' %}" role="button">Add New Label Format</a>
           <a class="btn btn-outline-success mr-5" href="{% url 'lims:label_list' %}" role="button">Edit Label Format</a>
           <a class="btn btn-outline-danger mr-5" href="{% url 'lims:sample_list' %}" role="button">Cancel</a>
           <button class="btn btn-success" type="submit">Print</button>
       </div>
    </form>
</div>
{% endblock content %}
