{% extends "lims/base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"/>
{% endblock head %}

{% block content %}
<h1 class="border-bottom">Subjects</h1>

    <table id="subject_table" class="display table table-hover"  align="center"  style="width:100%"> 
        <thead>
            
            <tr>
                <th>Subject ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Consent Status</th>
                <th>Consent Date</th>
                <th>Withdrawn Date</th>
                <th>Project</th>
                <th>Location</th>
                <th>Grade</th>
                <th>Teacher</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Race</th>
                <th>Ethnicity</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Gardian Name</th>
                <th>Gardian Relationship</th>
                <th>Vaccine Status</th>
                <th>Dose 1</th>
                <th>Dose 2</th>
                <th>Dose 3</th>
                <th>Pneumococcal Vaccine</th>
                <th>Pneumococcal Date</th>
                <th>Created</th>
                <th>Collection Events</th>
                <th>Samples Pending</th>
                <th>Samples Collected</th>
                <th>Samples Declined</th>
                <th>Samples Absent</th>
            </tr>
        </thead>
        <tbody>

            {% for subject, all, pend, col, miss, dec in subject_list %}
                <tr>
                    <td><a class="table-link" href="{% url 'lims:subject_detail' subject.id %}">
                        {{ subject.subject_ui }}
                    </a></td>
                    <td>{{ subject.first_name }}</td>
                    <td>{{ subject.last_name }}</td>
                    {% if subject.consent_status == "Consented" %}
                        <td><span class="badge bg-success">{{ subject.consent_status }}</span></td>
                    {% else %}
                        <td><span class="badge bg-danger">{{ subject.consent_status }}</span></td>
                    {% endif %}
                    <td>{{ subject.consent_date }}</td>
                    <td>{{ subject.withdrawn_date }}</td>
                    <td>{{ subject.location.project.name }}</td>
                    <td>{{ subject.location.name }}</td>
                    <td>{{ subject.grade }}</td>
                    <td>{{ subject.teacher_name }}</td>
                    <td>{{ subject.age }}</td>
                    <td>{{ subject.sex }}</td>
                    <td>{{ subject.race }}</td>
                    <td>{{ subject.ethnicity }}</td>
                    <td>{{ subject.phone }}</td>
                    <td>{{ subject.email }}</td>
                    <td>{{ subject.gardian_name }}</td>
                    <td>{{ subject.gardian_relationship }}</td>
                    <td>{{ subject.vaccine_status }}</td>
                    <td>{{ subject.dose_1 }}</td>
                    <td>{{ subject.dose_2 }}</td>
                    <td>{{ subject.dose_3 }}</td>
                    <td>{{ subject.pneumococcal_vaccine }}</td>
                    <td>{{ subject.pneumococcal_date }}</td>
                    <td>{{ subject.created_on }}</td>
                    <td>{{ all }}</td>
                    <td>{{ pend }}</td>
                    <td>{{ col }}</td>
                    <td>{{ miss }}</td>
                    <td>{{ dec }}</td>



                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-grid gap-2 d-md-block mt-2">
        <a class="btn btn-success btn" href="{% url 'lims:subject_list' %}" role="button">Back <span data-feather="corner-up-left"></span></a>
    </div>
{% endblock content %}

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.3/js/dataTables.rowGroup.min.js"></script>
<script>
    $(document).ready( function () {
    $('#subject_table').DataTable({
    rowReorder: true,
    fixedHeader: true,
    dom: 'B<"clear">lfrtip',
    buttons: {
        name: 'primary',
        buttons: [ 
        {
          extend: 'copy',
          title: 'Primary Participant Table'
        },
        {
          extend: 'pdf',
          title: 'Primary Participant Table'
        },
        {
          extend: 'csv',
          title: 'Primary Participant Table'
        },
        {
          extend: 'excel',
          title: 'Primary Participant Table'
        }]

        }}
    );
} );
</script>
{% endblock js %}
