{% extends "lims/base.html" %}
{% block content %}
<div class="card">
    <h1 class="card-header">Subject ID: {{ subject.subject_ui }}</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>First Name:</strong> {{ subject.first_name }}</li>
      <li class="list-group-item"><strong>Last Name:</strong> {{ subject.last_name }}</li>
      {% if subject.consent_status == 'Consented' %}
        <li class="list-group-item"><strong>Consent Status: </strong><span class="badge bg-success">{{ subject.consent_status }}</span></li>
      {% elif subject.consent_status == 'Not Consented' %}
      <li class="list-group-item"><strong>Consent Status: </strong><span class="badge bg-danger">{{ subject.consent_status }}</span></li>
      {% else %}
      <li class="list-group-item"><strong>Consent Status: </strong><span class="badge bg-danger">{{ subject.consent_status }}</span></li>
      {% endif %}
      <li class="list-group-item"><strong>Consent Date:</strong> {{ subject.consent_date }}</li>
      <li class="list-group-item"><strong>Withdrawn Date:</strong> {{ subject.withdrawn_date }}</li>
      <li class="list-group-item"><strong>Project: </strong><a href="{% url 'lims:project_detail' subject.location.project.id %}">{{ subject.location.project.name }}</a></li>
      <li class="list-group-item"><strong>Location: </strong><a href="{% url 'lims:location_detail' subject.location.id %}">{{ subject.location.name }}</a></li>
      <li class="list-group-item"><Strong>Age:</Strong> {{ subject.age }}</li>
      <li class="list-group-item"><Strong>Grade:</Strong> {{ subject.grade}}</li>
      <li class="list-group-item"><Strong>Sex:</Strong> {{ subject.sex}}</li>
      <li class="list-group-item"><Strong>Race:</Strong> {{ subject.race.all | join:", " }}</li>
      <li class="list-group-item"><Strong>Hispanic or Latino/a:</Strong> {{ subject.ethnicity}}</li>
      <li class="list-group-item"><Strong>Phone:</Strong> {{ subject.phone}}</li>
      <li class="list-group-item"><Strong>Email:</Strong> {{ subject.email}}</li>
      <li class="list-group-item"><Strong>Gardian Name:</Strong> {{ subject.gardian_name}}</li>
      <li class="list-group-item"><Strong>Gardian Relationship:</Strong> {{ subject.gardian_relationship}}</li>
      <li class="list-group-item"><Strong>Teacher Name:</Strong> {{ subject.teacher_name}}</li>
      <li class="list-group-item"><Strong>Dose 1:</Strong> {{ subject.dose_1}}</li>
      <li class="list-group-item"><Strong>Dose 1 Date:</Strong> {{ subject.dose_1_date}}</li>
      <li class="list-group-item"><Strong>Dose 2:</Strong> {{ subject.dose_2}}</li>
      <li class="list-group-item"><Strong>Dose 2 Date:</Strong> {{ subject.dose_2_date}}</li>
      <li class="list-group-item"><Strong>Booster:</Strong> {{ subject.booster}}</li>
      <li class="list-group-item"><Strong>Booster Date:</Strong> {{ subject.booster_date}}</li>
      <li class="list-group-item"><Strong>Pneumococcal Vaccine:</Strong> {{ subject.pneumococcal_vaccine }}</li>
      <li class="list-group-item"><Strong>Pneumococcal Vaccine Date:</Strong> {{ subject.pneumococcal_date }}</li>
      <li class="list-group-item"><Strong>Notes:</Strong> {{ subject.notes }}</li>
      <li class="list-group-item"><Strong>Created:</Strong> {{ subject.created_on }}</li>

    </ul>
    </div>
    <div class="d-grid gap-0 d-md-block mt-2">
        <a class="btn btn-primary btn mb-2" href="{% url 'lims:edit_subject' subject.id %}" role="button">Edit <span data-feather="edit"></span></a>
        <a class="btn btn-outline-primary btn mb-2" href="{% url 'lims:new_subject' %}" role="button">Add New Subject <span data-feather="plus"></span></a>
        <a class="btn btn-outline-primary btn mb-2" href="{% url 'lims:subject_list' %}" role="button">Subjects <span data-feather="corner-up-left"></span></a>
        <a class="btn btn-outline-primary btn mb-2" href="{% url 'lims:index' %}" role="button">Home <span data-feather="corner-up-left"></span></a>
        <a class="btn btn-outline-danger btn mb-2" href="{% url 'lims:delete_subject' subject.id %}" role="button">Delete <span data-feather="trash"></span></a>
    </div>
  

{% endblock content %}